<nav class="navbar navbar-light bg-primary">
  <div class="container">
    <h1 class="text-white">Book Dashboad CRUD</h1>
    <div class="d-flex">
      <button
        class="btn btn-outline-light"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Add Book
      </button>
    </div>
  </div>
</nav>

<table class="table mt-3 container table-striped">
  <thead>
    <tr>
      <th scope="col">Book Name</th>
      <th scope="col">Author</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Book Name</td>
      <td>Author</td>
      <td>Description</td>
      <td>Category</td>
      <td>
        <button class="btn btn-outline-primary mx-3">Edit</button>
        <button class="btn btn-outline-danger mx-3">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Book Details</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" />
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" id="author" />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" />
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" id="category" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Add New Book</button>
      </div>
    </div>
  </div>
</div>
